body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: rgb(239, 217, 250);
    font-family: monospace;
}

.title {
    text-align: center;
    font-size: 3em;
    padding-top: 5vh;
    padding-bottom: 8vh;
}

input {
    width: 300px;
    height: 15px;
    -webkit-appearance: none;
    background-color:white;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
}

input#range1::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px rgb(255, 0, 0);
}
input#range2::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px rgb(0, 255, 0);
}
input#range3::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 0, 255);
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px rgb(0, 0, 255);
}

.corpo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    align-content: center;
    justify-content: center;
}

.interface {
    border: 20px ridge rgb(240, 198, 245);
    box-shadow: 10px 10px 10px 5px black;
    width: fit-content;
    padding-top: 2vh;
}

.texto {
    text-align: justify;
    font-size: 1.5em;
    width: 150px;
}

.item {
    /* Cada item é uma linha do projeto */
    margin: 5px;
    width: fit-content;
    display: flex;
}

.valorCor {
    /* Caixa de exibição do valor da barra */
    width: 5vh;
    background-color: white;
}

.circulo {
    height: 20vh;
    width: 20vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-self: center;
    border-color: black;
    border-width: 3px;
    border-style: groove;
    border-radius: 50%;
    background-color: white;
}

footer {
    font-size: 1.5em;
    color: #9999ff;
    margin-top: 20vh;
}

footer a {
    text-decoration: none;
    color: #9999ff;
}